/* wrapper */
html{
  /* background-color: #f13222; */
}
#wrapper { background-color: white;
           width: 100%;
		       margin: auto;
           margin-top: 20;
           min-width:1200px;
           box-shadow: 5px 5px 5px 2px rgba(30, 0, 0, 0.85);
          font-family: 'Roboto', Arial, Helvetica, sans-serif;
          max-width: 1500px;
}
/* header */
.main-nav{
  display: inline-block;
  width: 100%;
  height: 100px;
}
.container-head{
  width: auto;
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-logo{
  padding-left : 5;
  width: 160px;
  height: 100px;
  position: absolute;
}
.motto{
  display: inline-block;
  padding: 18px 15px;
  line-height: 1;
  color: black;
  margin-left: 170px;
  font-weight: bold;
  font-family: roboto;
  border-left: 1.5px solid #757575;
}

.nav-wrap{
  text-decoration: none;
  vertical-align: middle;
  float:right;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
}
.nav-wrap li{
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
  position: relative;
  z-index: 999;
  float: left;
}
.nav-wrap a{
    display: block;
    border: none;
    color: black;
    font-size: 0.8em;
    font-weight: 700;
    height: 60px;
    letter-spacing: 0.02em;
    line-height: 60px;
    margin: 0;
    overflow: hidden;
    position: relative;
    padding: 0 12px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-wrap a:hover{
  color:#999;
  border-bottom: 3px solid red;
  /* font-size: 13.5px; */
}

.nav-wrap ul{
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.header-menu-account{
  border-left: 1.5px solid #757575;
  padding-left: 2px;

}
/* body  */
.top-content{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #999;
}
.carousel-container{
  position:relative;
  max-width:800px;
  margin-left:auto;
  margin-right:auto;
  background-color: black;
  border-radius=: 10px;
}
.movie-slides{
  max-height: 300px;
  display: none;
  margin: auto;
  padding:5 0;
}
.slider-bar{
  position:absolute;
  left:50%;
  bottom:0;
  top:41%;
  transform:translate(-50%,0%);
  -ms-transform:translate(-50%,0%);
  color:#fff!important;
  font-size:18px!important;
  margin-top:16px!important;
  margin-bottom:16px!important;
  padding:0.01em 2em;
  width: 100%;
}
.left-slider{
  float:left!important;
  padding-left: 20px;
  cursor:pointer;
  font-size: 30px;
}
.right-slider{
  float:right!important;
  cursor:pointer;
  padding-right: 20px;
  font-size: 30px;
}
.left-slider:hover, .right-slider:hover{
  color:#b4aa50;
  font-size: 31px;
}
.bottom-content{
  min-height: 500px;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  overflow-x: hidden;
  min-width: 1200px;
  background-color: #f13222;
}
.about-us{
  border: 2px solid black;
  width: 350px;
  padding: 15 10 15 15; /*top right down left */
  height: 350px;
  float:left;
  margin-left: 180px;
  margin-right: 50px;
  background-color: white;

}
.trending-movies{
  border: 2px solid black;
  float: left;
  width: 350px;
  padding: 15 10 15 15; /*top right down left */
  height: 350px;
  margin-right: 50px;
  background-color: white;
}

.our-locations{
  border: 2px solid black;
  display: block;
  width: 350px;
  padding: 15 10 15 15; /*top right down left */
  height: 350px;
  float:left;
  background-color: white;

}

.container-body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  border: 1.5px solid black;
}

.content-left{
  background-color: #ebdd64;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  float: left;
  width: 250px;
  min-height: 550px;
  height: auto;
  margin-right: 8px;
  margin-top: 70px;
}
.page-heading{
  padding:0;
}
.page-content{
  border: 2px solid black;
  float: left;
  width : 900px;
  min-width: 550px;
  padding: 10 10 0 15; /*top right down left */
  height: 543px;
  margin-right: 8px;
  margin-top: 0px;
  background-color: #ebdd64;
  overflow-y: scroll;
}
/* footer */

.footer {
  font-size:85%;
  text-align: center;
  padding: 20px 20px 20px 20px;
  background-color:#f13222;
  clear: both;
  text-transform: uppercase;
  font-weight: bold;
}
.footer a{
  color: black;
}
.footer a:hover{
  color:#b4aa50;
}

/* functionalities */

.contact-form label{
  margin: 40px 16px 8px 0px;
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 150px;
  font-weight: bold;
}

.contact-form  input,
.contact-form  textarea {
	margin: 40px 16px 8px 0px;
	float: left;
  border-width:medium;
  border-color: #b4aa50;
  width: 200px;
}
.contact-form textarea{
  height: 120px;
  width: 400px;
  overflow-y: scroll;
}
.contact-form > .btn-submit {
	clear: left;
	margin: 0px 0px;
  border-radius:3px;
  margin-left: 500px;
  padding: 5px 8px;
  font-weight: bold;
  width: auto;
}

.registration-form label{
  margin: 40px 16px 8px 0px;
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 150px;
  font-weight: bold;
}

.registration-form  input,
.registration-form  textarea {
	margin: 40px 16px 8px 0px;
	float: left;
  border-width:medium;
  border-color: #b4aa50;
  width: 200px;
}

.registration-form > .btn-submit {
	clear: left;
	margin: 30px 0px;
  border-radius:3px;
  margin-left: 220px;
  padding: 5px 8px;
  font-weight: bold;
  width: 70px;
  display: inline-block;
}
.registration-form > .btn-reset{
  margin: 30px 0px;
  border-radius:3px;
  margin-left: 10px;
  padding: 5px 8px;
  font-weight: bold;
  width: 70px;
  display: inline-block;
}

.signin-form > .btn-submit {
	margin: 35px 0px;
  border-radius:3px;
  margin-left: 20px;
  padding: 5px 8px;
  font-weight: bold;
  width: 70px;
  display: inline-block;
}
.signin-form label{
  margin: 40px 16px 8px 0px;
	display: block;
	float: left;
	clear: left;
	text-align: right;
	width: 150px;
  font-weight: bold;
}
.signin-form  input,
.signin-form  textarea {
	margin: 40px 16px 8px 0px;
	float: left;
  border-width:medium;
  border-color: #b4aa50;
  width: 200px;
}
.signin-form p{
  clear: left;
}

.movies-table{
  border-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.movies-table tr:nth-child(even) {
	background-color: white;}
.movies-table td{
  border: 1.5px solid black;
  max-height: 70px;
}
.movie-head{
  font-size: 20px;
  font-family: roboto;
  text-decoration: underline;
  text-align: center;
}

.movieList h3{
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}
.movieList p{
  padding: 0px 20px 5px 20px;
}

.movieList a{
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}
.movieList a:hover{
  color:#443f40;
  /* font-size: 13.5px; */
}

.movie-img img{
  height: 250px;
  padding: 20px;
  float: left;
  clear:both;
}
.movie_info_description{
  float: left;
  padding-top: 60px;
  padding-left: 20px;
  width: 400px;
  margin-top: auto;
  margin-bottom: auto;
}
.movie_info_description h3{
  font-weight:900;
  text-decoration: underline;
}
.timing_description h3{
  font-weight:900;
  text-decoration: underline;
}
#tb label{
  color: #2d191a;
  font-weight: 800;
}
.timing_description{
  float:left;
  width:200px;
  padding-top: 60px;
  padding-left: 20px;
  margin-top: auto;
  margin-bottom: 90px;
}

.cart-btn-empty {
	margin: 35px 0px;
  border-radius:3px;
  margin-left: 10px;
  padding: 5px 8px;
  font-weight: bold;
  width: 150px;
  display: inline-block;
}
.cart-btn-submit,
.cart-btn-pay {
  margin: 35px 0px;
  border-radius:3px;
  margin-left: 40px;
  padding: 5px 8px;
  font-weight: bold;
  width: 150px;
  display: inline-block;
}

.cart-table{
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  background-color: #c3c3c3;
}
.cart-table tr:first-child {
	background-color: white !important;}

#checkout h2{
  padding-left: 20px;
}
.order-status{
  margin-left: 180px;;
  width: 200px;
  background-color: #c3c3c3;
  color: black;
}
.order-status tr:first-child {
	background-color: white !important;}
